services:
  dosebot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dosebot
    ports:
      - "8910:8910"  # Dosebot main service
      # - "8911:8911" Only enable if you want to have the API on a separate port, don't forget to change the SERVICE_FQDN_API_8911 env var accordingly and redwood.toml
    volumes:
      # Persist SQLite database
      - ./data:/app/data
    environment:
      - SERVICE_FQDN_DOSEBOT_8910
      - SESSION_SECRET=${SERVICE_BASE64_DOSEBOT}
      - NODE_ENV=production
      - DATABASE_URL=file:/app/data/dosebot.db
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - RUN_SEED=${RUN_SEED:?0}
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget --tries=5 --spider http://localhost:8910 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
